@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/budokan-rounded');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
img {
  width: 100%;
}

/* -------Navbar-CSS-------- */
.navbar ul li {
  font-size: 1.1rem;
}
.nav-images{
  width: 2rem;
  display: inline-block;
}
/* -------main---------- */
.flex-box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
}
.flex-item{
  width: 45%;
}
.flex-item h1{
  font-family: 'Budokan Rounded', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%; 
}
.flex-item  h1 span{
  font-family: 'Budokan Rounded', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: #4edcd8;
}
.flex-item .main-image-width{
  display: flex;
  width: 40%;
  margin: auto;
}
/* .main-image-width{
  width: 40%;
  margin: auto;
  } */

.btn {
  background-color: #4edcd8;
  color: white;
  padding: 0.5rem 1.5rem ;
  border-radius: 1.5rem ;
}
.btn:hover {
  background-color: #068581a3;
  color: #fff;
}
.test-info-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 313px;
  height: 107px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.test-info-box span {
  color: black;
}
.test-info-box h5 {
  color: #4edcd8;
}
.test-info-box {
  cursor: pointer;
}

/* ------Main-Last-section(Personality-Types)------*/

.Personality-Types-Section{
  display: flex;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}
.Personality-Types-Section > div {
  display: flex;
  overflow: visible;
  animation: scroll 8s linear infinite;
  }
@keyframes scroll {
  100% { 
    transform: translate(-50%); 
  }
}
.personality-types{
  min-width: 10.3rem;
  height: 4.8rem;
  margin: 0px 0.6rem;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.personality-types h6 {
  font-weight: bold;
  font-size: 1.2rem;
}
.personality-types span {
  font-weight: 400;
} 

.animation-type-1 ,.animation-type-2 {
  display: flex;
  flex-direction: row;
}

/*-------------Medium-Devices-Responsive---------- */

@media  screen and  (max-width:991px) {
  
  .flex-box {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2rem;
  }
  .flex-item h1 span {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 150%;
    color: #4edcd8;
  }
  .flex-item h1 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 150%;
  }
  .flex-item  .main-image-width{
    width: 60%;
  }
  .btn {
    background-color: #4edcd8;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
  }
  .btn:hover {
    background-color: #4edcd7c0;
  }
  .test-info-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 19.5rem;
    height: 6.7rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  }
}

/* ------Small-Devices-Resposive----- */

@media  screen and  (max-width:767px) {
  
  .flex-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2rem;
  }
  .flex-item h1 span {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    color: #4edcd8;
  }
  .flex-item h1 {
    font-size: 25px;
    line-height: 150% ;
  }
  .flex-item{
    width: auto;
    display: contents;
  }
  .flex-item img{
    width: 100%;
    margin-top: 1rem;
  }
  
  .btn {
    background-color: #4edcd8;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
  }
  .btn:hover {
    background-color: #4edcd7c0;
  }
 .personality-test .flex-item .test-info-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  }
.Personality-Types-Section {
  width: auto;
  height: auto;
  padding: 1rem;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}
.Personality-Types-Section > div {
  display: contents;
  flex-direction: column;
  overflow: visible;
  animation-play-state: paused;
  }
.personality-types {
  width: 100%;
  height: 4.8rem;
  margin: 7px 10px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: start;
  animation: scroll 0s linear infinite;
}
.personality-types > div{
margin-left: 1rem;
}
.personality-types h6 {
  font-weight: bold;
  font-size: 20px;
}
.personality-types span {
  font-weight: 400;
} 
.animation-type-1{
  width: 100%;
display: contents;
}
.animation-type-1 ,.animation-type-2{
  animation-play-state: paused;
}
.animation-type-2{
  display: none;
}
}